// fonts
$font-serrat: 'Montserrat', sans-serif;

$font-gotham-med: 'gotham_medium', sans-serif;
$font-gotham-book: 'gotham_book', sans-serif;
$font-gotham-lig: 'gotham_light', sans-serif;

$font-gandhi-reg: 'gandhi_regular', sans-serif;
$font-gandhi-ita: 'gandhi_italic', sans-serif;

// colors
$white: #ffffff;
$black: #000000;
$almost-black: #2A2A2A;
$gray: #DFDFDF;
$semilight-gray: #DFDFDF;
$light-gray: #F7F7F7;
$lighter-gray: #F9F9F9;
$my-blue: #3498db;