.browse-genre-action-thumb{
  background: url(../img/browse-genre-action-thumb.png) no-repeat center;
}

.browse-genre-adventure-thumb{
  background: url(../img/browse-genre-adventure-thumb.png) no-repeat center;
}

.browse-genre-anim-thumb{
  background: url(../img/browse-genre-anim-thumb.png) no-repeat center;
}

.browse-genre-comedy-thumb{
  background: url(../img/browse-genre-comedy-thumb.png) no-repeat center;
}

.browse-genre-crime-thumb{
  background: url(../img/browse-genre-crime-thumb.png) no-repeat center;
}

.browse-genre-docu-thumb{
  background: url(../img/browse-genre-docu-thumb.png) no-repeat center;
}

.browse-genre-drama-thumb{
  background: url(../img/browse-genre-drama-thumb.png) no-repeat center;
}

.browse-genre-fantasy-thumb{
  background: url(../img/browse-genre-fantasy-thumb.png) no-repeat center;
}

.browse-genre-history-thumb{
  background: url(../img/browse-genre-history-thumb.png) no-repeat center;
}

.browse-genre-horror-thumb{
  background: url(../img/browse-genre-horror-thumb.png) no-repeat center;
}

.browse-genre-mystery-thumb{
  background: url(../img/browse-genre-mystery-thumb.png) no-repeat center;
}

.browse-genre-romance-thumb{
  background: url(../img/browse-genre-romance-thumb.png) no-repeat center;
}

.browse-genre-scifi-thumb{
  background: url(../img/browse-genre-scifi-thumb.png) no-repeat center;
}

.browse-genre-thriller-thumb{
  background: url(../img/browse-genre-thriller-thumb.png) no-repeat center;
}

.browse-genre-war-thumb{
  background: url(../img/browse-genre-war-thumb.png) no-repeat center;
}

.browse-genre-western-thumb{
  background: url(../img/browse-genre-western-thumb.png) no-repeat center;
}



.browse-popular-trending-thumb{
  background: url(../img/browse-popular-trending-thumb.png) no-repeat center;
}

.browse-popular-top-rated-thumb{
  background: url(../img/browse-popular-top-rated-thumb.png) no-repeat center;
}

.browse-popular-250-thumb{
  background: url(../img/browse-popular-250-thumb.png) no-repeat center;
}

.browse-popular-oscar-thumb{
  background: url(../img/browse-popular-oscar-thumb.png) no-repeat center;
}