.browse-genre-action{
  background: url(../img/browse-genre-action.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-genre-adventure{
  background: url(../img/browse-genre-adventure.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-genre-animation{
  background: url(../img/browse-genre-anim.jpg) no-repeat center fixed;
  @include background-size;
}

// .browse-genre-biography{
//   background: url(../img/browse-genre-bio.jpg) no-repeat center fixed;
//   @include background-size;
// }

.browse-genre-comedy{
  background: url(../img/browse-genre-comedy.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-genre-crime{
  background: url(../img/browse-genre-crime.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-genre-documentary{
  background: url(../img/browse-genre-docu.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-genre-drama{
  background: url(../img/browse-genre-drama.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-genre-fantasy{
  background: url(../img/browse-genre-fantasy.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-genre-history{
  background: url(../img/browse-genre-history.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-genre-horror{
  background: url(../img/browse-genre-horror.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-genre-mystery{
  background: url(../img/browse-genre-mystery.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-genre-romance{
  background: url(../img/browse-genre-romance.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-genre-scifi{
  background: url(../img/browse-genre-scifi.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-genre-thriller{
  background: url(../img/browse-genre-thriller.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-genre-war{
  background: url(../img/browse-genre-war.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-genre-western{
  background: url(../img/browse-genre-western.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-popular-250{
  background: url(../img/browse-popular-250-5.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-popular-oscar{
  background: url(../img/browse-popular-oscar.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-popular-top-rated{
  background: url(../img/browse-popular-top-rated.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-popular-trending{
  background: url(../img/browse-popular-trending.jpg) no-repeat center fixed;
  @include background-size;
}

.browse-list-tears{
  background: url(../img/browse-list-tears.jpg) no-repeat center fixed;
  @include background-size;
}